<h1>Home#index</h1>
<p>Wellcome to project DarkLight 0.1. This is a project that will digitize the class book. Our goal is to give to every parent real time information about their sons and daughters</p>

<%= image_tag("empty_classroom_cc_img.jpg", :alt => "rss feed", width: "1000", height: "700") %>
