<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<h1>Teacherv#attending</h1>
<p>Find me in app/views/teacherv/attending.html.erb</p>
<body>
  <div id="pro">
  <%= render :partial=>'teacherv/attending', :locals => {:lectureCouEntId => @lecture_course_entry.id} %>
</div>
</body>
